# Generación de base de datos 
### Pandas to Sqlite

In [7]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import pandas.io.sql as pd_sql
import sqlite3 as sql

In [10]:
import sqlite3
connection = sqlite3.connect("organizacion2.db")
connection.text_factory = str
result = pd.read_sql_query("SELECT * from universidad", connection)

In [11]:
result

   Nombre;Ciudad;Latitud;Longitud;Sitio web;Direccion
0                                    GUAYAQUIL 090613
1                                                None
2                                                None
3                                                None
4                                                None
5                                           GUAYAQUIL
6                                        QUITO 170157
7                                                LOJA
8                                               QUITO
9                                              CUENCA
10                                               None
11                                               None
12                                               None
13                                               None
14                                               None
15                                               None
16                                               None
17                                           Riobamba
18                                               None
19                                               None
20                                               None
21                                               None
22                                               None
23                                               None
24                                               None
25                                               None
26                                               None
27                                          GUAYAQUIL
28                                               None
29                                   GUAYAQUIL 090613
..                                                ...
57                                               None
58                                   GUAYAQUIL 090613
59                                               None
60                                               None
61                                               None
62                                               None
63                                          GUAYAQUIL
64                                       QUITO 170157
65                                               LOJA
66                                              QUITO
67                                             CUENCA
68                                               None
69                                               None
70                                               None
71                                               None
72                                               None
73                                               None
74                                               None
75                                           Riobamba
76                                               None
77                                               None
78                                               None
79                                               None
80                                               None
81                                               None
82                                               None
83                                               None
84                                               None
85                                          GUAYAQUIL
86                                               None

[87 rows x 1 columns]